[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
datetime = "*"
regex = "*"
scipy = "*"
lxml = "*"
dash = "*"
plotly = "*"
scikit-learn = "*"
networkx = "*"
dash-bootstrap-components = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
